<!-- File users.ejs -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>List of users</title>
</head>
<body>
    <h1>List of users</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
        <% users.forEach(function(user) { %>
            <tr>
              <td><%= users[i].firstName %></td>
              <td><%= users[i].lastName %></td>
              <td><%= users[i].phoneNumber %></td>
              <td><%= users[i].email %></td>
              <td><%= users[i].CMND %></td>
              <td><%= users[i].address %></td>
              <td><%= users[i].gender %></td>
            </tr>
        <% }); %>
    </table>
</body>
</html>
